# heavy files
local/
rust/
nix/
omz/
api/
cargo/
mail/
config_macos/
config_NAS/
.ollama/
id.ahk
._*
cache/
log/
.swp
.DS_Store
fish_variables
Configs/fish/.config/fish/fish_v*
*fish_variables
Configs/fish/.config/fish/fish_variables
.vscode
.idea
*_history
*.zwc
*.zcompdump
# Thumbnail cache files
Thumbs.db
.tmp*
tmp*/
tmp*/**
*.mdb

# Files that might appear on external disks
.Spotlight-V100
.Trashes

.vscode
.idea
*_history
*.zwc
*.zcompdump
