# heavy files
local/
rust/
nix/
omz/
api/
cargo/
mail/
config_macos/
config_NAS/

id.ahk
._*
cache/
log/
.swp
.DS_Store

.vscode
.idea
*_history
*.zwc
*.zcompdump
# Thumbnail cache files
Thumbs.db
.tmp*
*.mdb

# Files that might appear on external disks
.Spotlight-V100
.Trashes

.vscode
.idea
*_history
*.zwc
*.zcompdump
